<!DOCTYPE html>
<html lang="en">
   
<!-- Mirrored from freshcart.codescandy.com/dashboard/add-category.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 22 Mar 2024 09:08:59 GMT -->
<head>
      <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta content="Codescandy" name="author">
      <title>Add Category Dashboard eCommerce HTML Template - FreshCart</title>
      <link href="../libs/dropzone/dist/min/dropzone.min.css" rel="stylesheet" />
      <!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" href="../images/favicon/favicon.ico">


<!-- Libs CSS -->
<link href="../libs/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
<link href="../libs/feather-webfont/dist/feather-icons.css" rel="stylesheet">
<link href="../libs/simplebar/dist/simplebar.min.css" rel="stylesheet">


<!-- Theme CSS -->
<link rel="stylesheet" href="../css/theme.min.css">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-M8S4MT3EYG"></script>
<script>
   window.dataLayer = window.dataLayer || [];
   function gtag() {
      dataLayer.push(arguments);
   }
   gtag("js", new Date());

   gtag("config", "G-M8S4MT3EYG");
</script>
 <script type="text/javascript">
   (function (c, l, a, r, i, t, y) {
      c[a] =
         c[a] ||
         function () {
            (c[a].q = c[a].q || []).push(arguments);
         };
      t = l.createElement(r);
      t.async = 1;
      t.src = "https://www.clarity.ms/tag/" + i;
      y = l.getElementsByTagName(r)[0];
      y.parentNode.insertBefore(t, y);
   })(window, document, "clarity", "script", "kuc8w5o9nt");
</script>

   </head>

   <body>
      <!-- main wrapper -->

      <!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-glass">
	<div class="container-fluid">
		<div class="d-flex justify-content-between align-items-center w-100">
			<div class="d-flex align-items-center">
				<a class="text-inherit d-block d-xl-none me-4" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-text-indent-right" viewBox="0 0 16 16">
						<path
							d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm10.646 2.146a.5.5 0 0 1 .708.708L11.707 8l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zM2 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
						/>
					</svg>
				</a>

				<form role="search">
					<input class="form-control" type="search" placeholder="Search" aria-label="Search" />
				</form>
			</div>
			<div>
				<ul class="list-unstyled d-flex align-items-center mb-0 ms-5 ms-lg-0">
					<li class="dropdown-center">
						<a class="position-relative btn-icon btn-ghost-secondary btn rounded-circle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="bi bi-bell fs-5"></i>
							<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger mt-2 ms-n2">
								2
								<span class="visually-hidden">unread messages</span>
							</span>
						</a>
						<div class="dropdown-menu dropdown-menu-end dropdown-menu-lg p-0 border-0">
							<div class="border-bottom p-5 d-flex justify-content-between align-items-center">
								<div>
									<h5 class="mb-1">Notifications</h5>
									<p class="mb-0 small">You have 2 unread messages</p>
								</div>
								<a href="#!" class="text-muted">
									<a href="#" class="btn btn-ghost-secondary btn-icon rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Mark all as read">
										<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-check2-all text-success" viewBox="0 0 16 16">
											<path
												d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"
											/>
											<path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z" />
										</svg>
									</a>
								</a>
							</div>
							<div data-simplebar style="height: 250px">
								<!-- List group -->
								<ul class="list-group list-group-flush notification-list-scroll fs-6">
									<!-- List group item -->
									<li class="list-group-item px-5 py-4 list-group-item-action active">
										<a href="#!" class="text-muted">
											<div class="d-flex">
												<img src="../images/avatar/avatar-1.jpg" alt="" class="avatar avatar-md rounded-circle" />
												<div class="ms-4">
													<p class="mb-1">
														<span class="text-dark">Your order is placed</span>
														waiting for shipping
													</p>
													<span>
														<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-clock text-muted" viewBox="0 0 16 16">
															<path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
															<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
														</svg>
														<small class="ms-2">1 minute ago</small>
													</span>
												</div>
											</div>
										</a>
									</li>
									<li class="list-group-item px-5 py-4 list-group-item-action">
										<a href="#!" class="text-muted">
											<div class="d-flex">
												<img src="../images/avatar/avatar-5.jpg" alt="" class="avatar avatar-md rounded-circle" />
												<div class="ms-4">
													<p class="mb-1">
														<span class="text-dark">Jitu Chauhan</span>
														answered to your pending order list with notes
													</p>
													<span>
														<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-clock text-muted" viewBox="0 0 16 16">
															<path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
															<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
														</svg>
														<small class="ms-2">2 days ago</small>
													</span>
												</div>
											</div>
										</a>
									</li>
									<li class="list-group-item px-5 py-4 list-group-item-action">
										<a href="#!" class="text-muted">
											<div class="d-flex">
												<img src="../images/avatar/avatar-2.jpg" alt="" class="avatar avatar-md rounded-circle" />
												<div class="ms-4">
													<p class="mb-1">
														<span class="text-dark">You have new messages</span>
														2 unread messages
													</p>
													<span>
														<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-clock text-muted" viewBox="0 0 16 16">
															<path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
															<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
														</svg>
														<small class="ms-2">3 days ago</small>
													</span>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="border-top px-5 py-4 text-center">
								<a href="#!">View All</a>
							</div>
						</div>
					</li>
					<li class="dropdown ms-4">
						<a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="../images/avatar/avatar-1.jpg" alt="" class="avatar avatar-md rounded-circle" />
						</a>

						<div class="dropdown-menu dropdown-menu-end p-0">
							<div class="lh-1 px-5 py-4 border-bottom">
								<h5 class="mb-1 h6">FreshCart Admin</h5>
								<small>admindemo@email.com</small>
							</div>

							<ul class="list-unstyled px-2 py-3">
								<li>
									<a class="dropdown-item" href="#!">Home</a>
								</li>
								<li>
									<a class="dropdown-item" href="#!">Profile</a>
								</li>

								<li>
									<a class="dropdown-item" href="#!">Settings</a>
								</li>
							</ul>
							<div class="border-top px-5 py-3">
								<a href="#">Log Out</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>


      <div class="main-wrapper">
         <!-- navbar vertical -->
         <!-- navbar -->
<nav class="navbar-vertical-nav d-none d-xl-block">
	<div class="navbar-vertical">
		<div class="px-4 py-5">
			<a href="./adminHome" class="navbar-brand">
				<img src="../images/logo/freshcart-logo.svg" alt="" />
			</a>
		</div>
		<div class="navbar-vertical-content flex-grow-1" data-simplebar="">
			<ul class="navbar-nav flex-column" id="sideNavbar">
				<li class="nav-item">
					<a class="nav-link " href="./adminHome">
						<div class="d-flex align-items-center">
							<span class="nav-link-icon"><i class="bi bi-house"></i></span>
							<span class="nav-link-text">Dashboard</span>
						</div>
					</a>
				</li>
				<li class="nav-item mt-6 mb-3">
					<span class="nav-label">Store Managements</span>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="./products">
						<div class="d-flex align-items-center">
							<span class="nav-link-icon"><i class="bi bi-cart"></i></span>
							<span class="nav-link-text">Products</span>
						</div>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="./categories">
						<div class="d-flex align-items-center">
							<span class="nav-link-icon"><i class="bi bi-list-task"></i></span>
							<span class="nav-link-text">Categories</span>
						</div>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="/admin/order-list">
						<div class="d-flex align-items-center">
							<span class="nav-link-icon"><i class="bi bi-bag"></i></span>
							<span class="nav-link-text">Orders</span>
						</div>
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link " href="./vendor">
						<div class="d-flex align-items-center">
							<span class="nav-link-icon"><i class="bi bi-shop"></i></span>
							<span class="nav-link-text">Coupon</span>
						</div>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="./customers">
						<div class="d-flex align-items-center">
							<span class="nav-link-icon"><i class="bi bi-people"></i></span>
							<span class="nav-link-text">Customers</span>
						</div>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="/admin/banners">
						<div class="d-flex align-items-center">
							<span class="nav-link-icon"><i class="bi bi-people"></i></span>
							<span class="nav-link-text">Banner Management</span>
						</div>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="/admin/promotion">
						<div class="d-flex align-items-center">
							<span class="nav-link-icon"><i class="bi bi-people"></i></span>
							<span class="nav-link-text">Promotios</span>
						</div>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="./reviews">
						<div class="d-flex align-items-center">
							<span class="nav-link-icon"><i class="bi bi-star"></i></span>
							<span class="nav-link-text">Reviews</span>
						</div>
					</a>
				</li>

			</ul>
		</div>
	</div>
</nav>

<nav class="navbar-vertical-nav offcanvas offcanvas-start navbar-offcanvac" tabindex="-1" id="offcanvasExample">
	<div class="navbar-vertical">
		<div class="px-4 py-5 d-flex justify-content-between align-items-center">
			<a href="./adminHome.hbs" class="navbar-brand">
				<img src="../images/logo/freshcart-logo.svg" alt="" />
			</a>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="navbar-vertical-content flex-grow-1" data-simplebar="">
			<ul class="navbar-nav flex-column">
				<li class="nav-item">
					<a class="nav-link  active " href="./adminHome">
						<div class="d-flex align-items-center">
							<span class="nav-link-icon"><i class="bi bi-house"></i></span>
							<span>Dashboard</span>
						</div>
					</a>
				</li>
				<li class="nav-item mt-6 mb-3">
					<span class="nav-label">Store Managements</span>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="./products">
						<div class="d-flex align-items-center">
							<span class="nav-link-icon"><i class="bi bi-cart"></i></span>
							<span class="nav-link-text">Products</span>
						</div>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="./categories">
						<div class="d-flex align-items-center">
							<span class="nav-link-icon"><i class="bi bi-list-task"></i></span>
							<span class="nav-link-text">Categories</span>
						</div>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="/admin/order-list">
						<div class="d-flex align-items-center">
							<span class="nav-link-icon"><i class="bi bi-bag"></i></span>
							<span class="nav-link-text">Orders</span>
						</div>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="./vendor">
						<div class="d-flex align-items-center">
							<span class="nav-link-icon"><i class="bi bi-shop"></i></span>
							<span class="nav-link-text">Coupon</span>
						</div>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="./customers">
						<div class="d-flex align-items-center">
							<span class="nav-link-icon"><i class="bi bi-people"></i></span>
							<span class="nav-link-text">Customers</span>
						</div>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="/admin/banners">
						<div class="d-flex align-items-center">
							<span class="nav-link-icon"><i class="bi bi-people"></i></span>
							<span class="nav-link-text">Banner Management</span>
						</div>
					</a>
				</li>
                <li class="nav-item">
					<a class="nav-link active" href="/admin/promotion">
					  <div class="d-flex align-items-center">
						<span class="nav-link-icon"><i class="bi bi-people"></i></span>
						<span class="nav-link-text">Promotions</span>
					  </div>
					</a>
				  </li>
				<li class="nav-item">
					<a class="nav-link " href="./reviews">
						<div class="d-flex align-items-center">
							<span class="nav-link-icon"><i class="bi bi-star"></i></span>
							<span class="nav-link-text">Reviews</span>
						</div>
					</a>
				</li>
				
			</ul>
		</div>
	</div>
</nav>

         <!-- main -->
        <!-- main -->
<main class="main-content-wrapper">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row mb-8">
            <div class="col-md-12">
                <div class="d-md-flex justify-content-between align-items-center">
                    <!-- page header -->
                    <div>
                        <h2>Add New Banner</h2>
                        <!-- breacrumb -->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="./adminHome" class="text-inherit">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="./banner" class="text-inherit">Banner</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Add New Banner</li>
                            </ol>
                        </nav>
                    </div>
                    <div>
                        <a href="./promotion" class="btn btn-light">Back to Promotions</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-12">
                <!-- card -->
                <div class="card mb-6 shadow border-0">
                    <!-- card body -->


                    <div class="card-body p-6">
                        <h4 class="mb-5 h5">Banner Image</h4>
                        <div class="mb-4 d-flex">
                            <div class="position-relative">
                                <img class="image icon-shape icon-xxxl bg-light rounded-4" src="../images/icons/bakery.svg" alt="Image" id="image" />
                                <div class="file-upload position-absolute end-0 top-0 mt-n2 me-n1">
                                    <input accept="image/*" id="fileInput" type="file" name="file" class="file-input" />
                                    <span class="icon-shape icon-sm rounded-circle bg-white">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-pencil-fill text-muted" viewBox="0 0 16 16">
                                            <path
                                                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <span class="text-danger" id="errorMessage"></span>
                        <h4 class="mb-4 h5 mt-5">Banner Information</h4>
                        <div class="row">
                            <form id="positionForm" method="post" enctype="multipart/form-data">
                                <div class="mb-3 col-lg-6">
                                    <label class="form-label">Name</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Title"  required/>
                                </div>
                                <div class="mb-3 col-lg-6">
                                    <label class="form-label" for="description">Description</label>
                                    <input type="text" class="form-control" id="description" name="description" placeholder="description"  required/>
                                </div>
                                <!-- input -->
                                <div class="mb-3 col-lg-6">
                                    <label class="form-label" name="position">Position</label>
                                    <select class="form-control" id="position" name="position">
                                        <option value="Top-Right">Top Right</option>
                                        <option value="Top-Bottom">Top Bottom</option>
                                    </select>
                                </div>
                                <div class="mb-3 col-lg-6">
                                    <label class="form-label" for="buttonUrl">Button URL</label>
                                    <input type="url" class="form-control" id="buttonUrl" name="buttonUrl" placeholder="buttonUrl" required/>
                                </div>
                                <div class="col-lg-12">
                                    <button class="btn btn-primary" type="submit">Create Banner</button>
                                    <span class="text-danger" id="banner-err-msg"></span>
                                </div>
                            </form>
                        </div>
                    </div>
        </div>
    </div>
</main>

      </div>

        <script src="../libs/flatpickr/dist/flatpickr.min.js"></script>
        <!-- Libs JS -->
        <script src="../libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../libs/simplebar/dist/simplebar.min.js"></script>
    <!-- Theme JS -->
    <script src="../js/theme.min.js"></script>
    <script src="../libs/quill/dist/quill.min.js"></script>
    <script src="../js/vendors/editor.js"></script>
    <script src="../libs/dropzone/dist/min/dropzone.min.js"></script>

    <script>
        document.getElementById('positionForm').addEventListener('submit',async(event)=>{
            event.preventDefault()

            const fileInput = document.getElementById('fileInput')

            if(!fileInput.files[0]){
                document.getElementById('errorMessage').textContent = 'Please select an image.'
                document.getElementById('fileInput').focus()
                return
            }

            const formData = new FormData();
    formData.append('name', document.getElementById('name').value);
    formData.append('description', document.getElementById('description').value);
    formData.append('position', document.getElementById('position').value);
    formData.append('buttonUrl', document.getElementById('buttonUrl').value);
    formData.append('file', document.getElementById('fileInput').files[0]);


    

        const response = await fetch('./position-form',{
            method : 'post',
            body : formData
        })

        })
    </script>
   </body>

<!-- Mirrored from freshcart.codescandy.com/dashboard/add-category.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 22 Mar 2024 09:08:59 GMT -->
</html>
